@import "tailwindcss";
@import '@fontsource-variable/inter';
@import '@fontsource/roboto';

@theme {
  --color-text-50: #f1f3f4;
  --color-text-100: #e2e7e9;
  --color-text-200: #c6ced2;
  --color-text-300: #a9b6bc;
  --color-text-400: #8d9da5;
  --color-text-500: #70858f;
  --color-text-600: #5a6a72;
  --color-text-700: #435056;
  --color-text-800: #2d3539;
  --color-text-900: #161b1d;
  --color-text-950: #0b0d0e;

  --color-background-50: #eff3f6;
  --color-background-100: #dee8ed;
  --color-background-200: #bdd1db;
  --color-background-300: #9cbac9;
  --color-background-400: #7ba3b7;
  --color-background-500: #5b8ca4;
  --color-background-600: #487084;
  --color-background-700: #365463;
  --color-background-800: #243842;
  --color-background-900: #121c21;
  --color-background-950: #090e10;

  --color-primary-50: #ecf4f8;
  --color-primary-100: #d9eaf2;
  --color-primary-200: #b4d5e4;
  --color-primary-300: #8ec0d7;
  --color-primary-400: #68abca;
  --color-primary-500: #4296bd;
  --color-primary-600: #357897;
  --color-primary-700: #285a71;
  --color-primary-800: #1b3c4b;
  --color-primary-900: #0d1e26;
  --color-primary-950: #070f13;

  --color-secondary-50: #eaf5fb;
  --color-secondary-100: #d5ecf6;
  --color-secondary-200: #aad8ee;
  --color-secondary-300: #80c5e5;
  --color-secondary-400: #56b2dc;
  --color-secondary-500: #2b9ed4;
  --color-secondary-600: #237fa9;
  --color-secondary-700: #1a5f7f;
  --color-secondary-800: #113f55;
  --color-secondary-900: #09202a;
  --color-secondary-950: #041015;

  --color-accent-50: #e7f6fd;
  --color-accent-100: #d0edfb;
  --color-accent-200: #a1dcf7;
  --color-accent-300: #71caf4;
  --color-accent-400: #42b9f0;
  --color-accent-500: #13a7ec;
  --color-accent-600: #0f86bd;
  --color-accent-700: #0b648e;
  --color-accent-800: #08435e;
  --color-accent-900: #04212f;
  --color-accent-950: #021118;

  --font-heading: 'Inter Variable', sans-serif;
  --font-body: 'Roboto', sans-serif;
}

.side-nav {
  @apply p-3 rounded-lg bg-background-800 transition-colors text-sm
   hover:bg-background-700 hover:cursor-pointer flex items-start font-heading
}

.tab-btn {
  @apply text-text-500 hover:text-text-300 border-b-2 border-accent-400/0 font-heading text-sm
}

.active-nav {
  @apply bg-secondary-700
}

.active-tab {
  @apply text-accent-400 font-semibold border-accent-400/100 pb-2 
}

.recent-project {
  @apply bg-background-800 p-4 rounded-lg shadow-lg
}

.nav-content {
  @apply w-full h-full overflow-hidden
}

.nav-inner-content {
  @apply w-full h-full font-body
}

.template {
  @apply bg-secondary-800 p-4 rounded-md flex h-36 justify-between gap-2
  relative
}

.template-thumbnail {
  @apply w-1/3 h-full bg-secondary-500 rounded-md
}

.template-title {
  @apply capitalize
}

.template-description {
  @apply text-sm text-text-300
}

.template-status {
  @apply p-2 bg-primary-500 rounded-lg
}

.template-download-bar {
  @apply absolute bottom-4 w-64 left-40
}

.template-download-progress {
  @apply w-full h-2 rounded-full bg-accent-500
}